ARANGO_DB_HOST=127.0.0.1
ARANGO_DB_PORT=8529
ARANGO_DB_USER=root
ARANGO_DB_PASSWORD=<your_arango_db_password>
ARANGO_DB_HOME=<path_to_repo>/data/arangodb
ARANGO_DB_APPS=<path_to_repo>/data/arangodb-apps
ARANGO_ONTOLOGY_DB_NAME=Cell-KN-Ontologies
ARANGO_PHENOTYPE_DB_NAME=Cell-KN-Phenotypes
ARANGO_SCHEMA_DB_NAME=Cell-KN-Schema
ARANGO_ONTOLOGY_GRAPH_NAME=KN-Ontologies-v2.0
ARANGO_PHENOTYPE_GRAPH_NAME=KN-Phenotypes-v2.0
JENA_HOME=<path_to_repo>/data/jena
JENA_PASSWORD=<your_jena_admin_password>
NEO4J_HOME=<path_to_repo>/data/neo4j
NEO4J_PASSWORD=<your_neo4j_admin_password>
