ARANGO_DB_HOST=127.0.0.1
ARANGO_DB_PORT=8529
ARANGO_DB_USER=root
ARANGO_DB_PASSWORD=<your_arango_db_password>
ARANGO_DB_HOME=/Users/raymondleclair/Projects/NIH-NLM/Cell-KN/nlm-ckn-etl/data/arangodb
ARANGO_DB_APPS=/Users/raymondleclair/Projects/NIH-NLM/Cell-KN/nlm-ckn-etl/data/arangodb-apps
ARANGO_ONTOLOGY_DB_NAME=Cell-KN-Ontologies
ARANGO_PHENOTYPE_DB_NAME=Cell-KN-Phenotypes
ARANGO_SCHEMA_DB_NAME=Cell-KN-Schema
ARANGO_ONTOLOGY_GRAPH_NAME=KN-Ontologies-v2.0
ARANGO_PHENOTYPE_GRAPH_NAME=KN-Phenotypes-v2.0
JENA_HOME=/Users/raymondleclair/Projects/NIH-NLM/Cell-KN/nlm-ckn-etl/data/jena
JENA_PASSWORD=<your_jena_admin_password>
