target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Dev ###
*~
.arangodb-password
.built
.built-ontology
.built-results
.ai
.archived
.poetry/
.pybiomart.sqlite
.pytest_cache/
.scratch/
.tern-port
.venv/
.zshenv
__pycache__/
CLAUDE.md
# data
docs/java/
log/
data/arangodb/
data/external/
data/obo/
data/results-*/
data/scores-*/
data/tuples/
python/tests/arangodb/
# archives
arangodb.tar.gz
arangodb-*.tar.gz
obo.tar.gz
obo-*.tar.gz
